%h2 Format

%p Our DNS database provides TXT records with a space separated list of the following key value pairs:

%table.table
  %thead
    %tr
      %th Key
      %th Values
  %tbody
    %tr
      %td
        %code starttls
      %td
        %p One of the following values:
        %ul
          %li
            %code missing
            STARTTLS is not available
          %li
            %code present
            STARTTLS is available
    %tr
      %td
        %code trusted
      %td
        %p Comma separated list of trusted root certificate sets.
        %ul
          %li debian
          %li ...

    %tr
      %td
        %code certificate-problems
      %td
        %p If a server certificate is present, a comma seperated list of the certificate problems:
        %ul
          %li
            %code expired
            Expired or not yet valid.
          %li
            %code mismatch
            The common name or subject alt name does not match the hostname.
    %tr
      %td
        %code dane
      %td
        %p If DNSSEC secured TLSA records exist and matches the server certificates:
        %ul
          %li
            %code valid
    %tr
      %td
        %code tlsversion
      %td
        %p The highest TLS version available on all MX hosts.
        %ul
          %li
            %code SSLv3
          %li
            %code TLSv1.0
          %li
            %code TLSv1.1
          %li
            %code TLSv1.2
    %tr
      %td
        %code tlscipher
      %td
        %p The most secure TLS cipher suite available on all MX hosts.
        \...
