%h1 TLS Policy Database

%p
  The TLS Policy Database collects information about the
  %strong TLS capability
  and
  %strong certificate validity
  of mailservers on the internet.

%p We provide a simple DNS based database to help you to secure you outgoing email connections.

= render 'policy'

%h2 Usage

%p
  Create a query for a TXT record of
  %code $your-domain$.tls-scan.informatik.uni-bremen.de
  and send it to our DNS server 134.102.201.91.
  If we know the domain it will respond with a TXT record, otherwise you receive a NXDOMAIN.

%p
  Use our
  = link_to "TLS Policy Map", "https://github.com/corny/tlspolicy/tree/socketmap"
  for
  = link_to "Postfix", "http://www.postfix.org"
  or build your own integration.

%h3 Examples

%h3 dig
%pre
  :preserve
    $ dig @134.102.201.91 mailbox.org.tls-scan.informatik.uni-bremen.de TXT +short
    "starttls=true certificate=trusted,match-mx,match-domain"

%h3 host
%pre
  :preserve
    $ host -t TXT mailbox.org.tls-scan.informatik.uni-bremen.de 134.102.201.91
    Using domain server:
    Name: 134.102.201.91
    Address: 134.102.201.91#53
    Aliases:

    mailbox.org.tls-scan.informatik.uni-bremen.de descriptive text "starttls=true certificate=trusted,match-mx,match-domain"
