%h1 Top Issuers

%p
  = Stats.issuers_count
  issuers found.

%table.table.table-condensed.table-striped.table-hover
  %thead
    %tr
      %th Certificates
      %th Issuer
      %th Average validity <br> in years
      %th Trusted Hosts Ratio
  %tbody
    = render partial: 'subject', collection: Stats.issuers(50)
